<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Feed.aspx.cs" Inherits="Vento.Viaje.Feed" %>

.twFeedCont.sidebarCont
	.scrollbar
		.track
			.thumb
				.end
	.viewport
		.overview
			.twfeedModule#slider1{:runat=>"server"}
				.controls
					%p.titleHash
						<span runat="server" id="hashSlider1">#LaRutaDeLasIdeas</span>
					.left
					.right
				%ul.slider#ulSlider1{:runat=>"server"}
					%li
						%p.tweetUser
							texto1
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
					%li
						%p.tweetUser
							texto2
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
					%li
						%p.tweetUser
							texto3
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
					%li
						%p.tweetUser
							texto4
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
					%li
						%p.tweetUser
							texto5
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
			.twfeedModule#slider2{:runat=>"server"}
				.controls
					%p.titleHash
						<span runat="server" id="hashSlider2">#LaRutaDeLasIdeas</span>
					.left
					.right
				%ul.slider#ulSlider2{:runat=>"server"}
					%li
						%p.tweetUser
							texto1
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
					%li
						%p.tweetUser
							texto2
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
					%li
						%p.tweetUser
							texto3
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
					%li
						%p.tweetUser
							texto4
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
					%li
						%p.tweetUser
							texto5
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
			.twfeedModule#slider3{:runat=>"server"}
				.controls
					%p.titleHash
						<span runat="server" id="hashSlider3">#LaRutaDeLasIdeas</span>
					.left
					.right
				%ul.slider#ulSlider3{:runat=>"server"}
					%li
						%p.tweetUser
							texto1
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
					%li
						%p.tweetUser
							texto2
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
					%li
						%p.tweetUser
							texto3
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
					%li
						%p.tweetUser
							texto4
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
					%li
						%p.tweetUser
							texto5
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
			.twfeedModule#slider4{:runat=>"server"}
				.controls
					%p.titleHash
						<span runat="server" id="hashSlider4">#LaRutaDeLasIdeas</span>
					.left
					.right
				%ul.slider#ulSlider4{:runat=>"server"}
					%li
						%p.tweetUser
							texto1
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
					%li
						%p.tweetUser
							texto2
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
					%li
						%p.tweetUser
							texto3
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
					%li
						%p.tweetUser
							texto4
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas
					%li
						%p.tweetUser
							texto5
						%p.tweetText
							Aún puedes inscribirte para ser de los primeros en manejar Nuevo Vento y recorrer La Ruta de las Ideas






%script{:src=>"js/sidebar.js"}
%script{:src=>"js/feed.js"}
