<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Mecanica.aspx.cs" Inherits="Vento.Viaje.Video" %>

.challengeContent.sidebarCont
	.scrollbar
		.track
			.thumb
				.end
	.viewport
		.overview
			.challenge
				.challImg
				%p.chall_title
					Empieza el reto.

				%p.chall_description
					Arranca la misión de aterrizar una idea capaz de
					%span
						concientizar
					sobre el ahorro de combustible, una estrategia innovadora, tecnología, viable y bien presentada.

				%p.chall_description
					Los equipos se suben a su respectivo Vento y los cuatro desconocidos deben elegir un camino creativo.

				%p.chall_description
					%span
						Sería complicado, si no fuera porque Vento está de su lado.


%script{:src=>"js/sidebar.js"}

